*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.main-container{
    background-color: #172337;
    color: white
}

.top-section,.left-section,.right-section{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

h3{
    margin-bottom: 14px;
}



.about>div,.help>div,.policy>div,.social>div{
    padding:0 0 4px 15px;
}

.mail-us>div,.registered>div{
    padding: 0,0,4px,15px;
    margin-left: 10px;
}


.left-section{
    margin-right:10px ;
}
.mail-us{
    border-left: 1px solid #9b9b9b;
    margin-left: 3px;
    padding-left: 10px;
}

.bottom-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin: 5px;
    border-top: 1px solid #9b9b9b;
}

.sell,.advertise,.gift,.help-center{
    display: flex;
    align-items: center;

}

.sell>div,.advertise>div,.gift>div,.help-center>div{
    padding: 6px;
}