body{
    margin: 0%;
 
}
.main-container{
    background: linear-gradient(to bottom, transparent, 60%,black),
    linear-gradient(to top,transparent, 90%, black ),
    url(..//images/home-image.jpg);
}
.netflix-top{
    padding: 30px 0px 30px 50px;
}
.middle-container{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 20px 600px 100px 500px;
align-items: center;
background-color: black ;
opacity: 0.8;
}

.inside-container>div{
padding-left: 60px;
}

.middle-container>div{
    padding: 10px;
}
.sign-in{
    color: white;
    padding-top: 40px;
}
.email-container{
    padding-bottom: 17px;
}
.email{
    height: 45px;
    width: 285px;
    border: none;
    border-radius: 4px;
        outline: none;
    background: #333;
    color: #fff;
}
.password-container{
    padding-bottom: 30px;
  
}
.password{
    height: 45px;
    width: 285px; 
    border: none;
    border-radius: 4px;
   outline: none;
    background: #333;
    color: #fff; 
}
.remember-section{
    display: flex;
}
.remember-section>div{
    font-size: 13px;
    padding-right: 50px;
}
.signin-button{
    height: 45px;
    width: 288px;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    background-color: #e50914;
font-size: 16px;
}
.remember-section{
    padding-top: 10px;
    padding-bottom: 60px;
    color: #8c8c8c;}
.facebook{
    display: flex;
    color: #8c8c8c;
}
.facebook>img{
    padding-right: 10px;
    padding-bottom: 20px;
}

.sign-now{
text-decoration: none;
color: white;
    }
.new{
    padding-bottom: 20px;
    padding-top: 10px;
    color: #8c8c8c;
}
.recaptcha{
    font-size: 12px;
    color: #8c8c8c;
    padding-bottom: 100px;
}


footer{
    background-color: black;
    color: #757575;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.footer-container{
    padding: 30px 100px 40px 320px;
}
.questions{
   font-size: 17px;
}

.list-container{
    display: flex;
}
ul{
    padding: 0px;
}
li{
    list-style: none;
    padding: 10px 120px 10px 0px; 
}
.list-container>div{
    padding: 20px 0px 20px 0px;
}

.button-container2{
    color: #757575;
    display: flex;
    height: 48px;
    width: 130px;
    align-items: center;
    border: 1px solid #555555;
    justify-content: center;
}
.globe2{
    height: 15px;
    width:15px;
    padding-right: 10px;
}
.select-box-2{
    background-color: black;
     border: none;
     outline: none;
     color: #757575;
    }